{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [gleam_stdlib]}
]}.


{project_plugins, [rebar_gleam, rebar3_hex]}.

{deps, [
    {gleam_stdlib, {git, "https://github.com/gleam-lang/stdlib", {ref, "a4ea7efadd177219711484255c671bd74248ace3"}}}
]}.
