name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "25.1"
          gleam-version: "0.32.1"
          rebar3-version: "3"
      - run: gleam test --target=erlang
      - run: gleam test --target=javascript
      - run: gleam format --check src test
